#navigation {
    position: absolute;
    top: 5px;
    left: 5px; border: 0;
    z-index:1000;
}

#github-ribbon {
    display: none;
}

pre {
    margin-top: 15px;
    margin-bottom: 15px;
}

code {
    color: #333;
    background-color: #f7f7f7;
}

ul {
    font-size: 25px;
}